<div class="card  text-black">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="card-title">{{ post.title }}</h2>
    <button class="btn btn-danger btn-sm" id="btn-delete" data-id="{{post.fileName}}">
      <i class="fa fa-times"></i> Eliminar
    </button>
  </div>
  <div class="card-body">
    <p>{{ post.description }}</p>
    <div class="text-center">
      <img src="/uploads/{{post.fileName}}" class="img-fluid">
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <button class="btn btn-success" id="btn-like" data-id="{{post.fileName}}">
      <i class="fas fa-thumbs-up"></i> Me gusta
    </button>
    <p>
      <span class="likes-count">{{post.likes}}</span>
      <i class="fas fa-heart"></i>
    </p>
    <p>
      <i class="fas fa-eye"></i> {{post.views}}
    </p>
    <p>
      <i class="far fa-clock"></i>
      {{timeago post.timestamp}}
    </p>
  </div>
</div>

<!-- COMMENTS -->
<div class="card mt-2  text-black">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">Comentarios</h3>
    <button class="btn btn-info" id="btn-toggle-comment">
      <i class="fa fa-comments-o"></i> Comentar
    </button>
  </div>
  <div class="card-body ">
    <blockquote id="post-comment">
      <form action="/posts/{{post.fileName}}/comment" method="POST">
        <div class="form-group mb-3">
          <input type="text" class="form-control  text-black border border-primary" name="name"
            placeholder="Nombre">
        </div>
        <div class="form-group mb-3">
          <input type="email" class="form-control  text-black border border-primary" name="email"
            placeholder="Email">
        </div>
        <div class="form-group mb-3 ">
          <textarea name="comment" class="form-control  text-black border border-primary" rows="2"
            placeholder="Tu Comentario"></textarea>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-outline-success" id="btn-comment">
            <i class="fa fa-comment"></i> Publicar
          </button>
        </div>
      </form>
    </blockquote>
    <ul class="list-group p-4">
      {{#each comments}}
      <li class="list-group-item">
        <div class="row">
          <a href="#" class="col text-center">
            <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" />
          </a>
          <blockquote class="col">
            <p class="lead">{{comment}}</p>
            <footer class="blockquote-footer">
              {{name}} - {{timeago timestamp}}
            </footer>
          </blockquote>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>